.x-login {
  background-color: #fff;

  @media (--media-md) {
    background-image: linear-gradient(#ffffff01, #fff9), url("/src/assets/login-bg.svg");
    background-position: calc(100% - 2rem) calc(100% - 2rem);
    background-size: cover, 24vw;
    background-repeat: no-repeat;
  }
}
