.x-login-switcher {
  .active {
    animation-duration: 999s;
    font-weight: 750;
  }

  .second {
    animation-duration: 10s;
    font-weight: 600;
  }

  .third {
    animation-duration: 7s;
    font-weight: 400;
  }
}
