@import "winduum/src/components/button/props/interactive.css" layer(theme);
@import "winduum/src/components/button/default.css" layer(utilities);
@import "winduum/src/components/button/interactive.css" layer(utilities);

@layer theme {
  :root, :host {
    --x-button-outline-width: 2px;
    --x-button-border-width: 0px;
    --x-button-border-radius: var(--radius-xl);
    --x-button-font-size: var(--text-sm);
    --x-button-font-weight: var(--font-weight-medium);
    --x-button-gap: calc(var(--spacing) * 2);
    --x-button-block-size: 3rem;
    --x-button-padding-block: 0.375rem;
    --x-button-padding-inline: 0.75rem;
    --x-button-color: var(--color-primary);
  }
}

@layer utilities {
  .x-button {
    --x-button-block-size: 3rem;
    --x-button-border-radius: var(--radius-lg);
    --x-button-hover-background-color: var(--color-primary);
  }
}

@utility md {
  .x-button:is(&) {
    --x-button-font-size: 1.25rem;
  }
}
