@import "winduum/src/components/title/props/default.css" layer(theme);

@layer theme {
  :root, :host {
    --x-title-font-weight: var(--font-weight-semibold);
    --x-title-font-size: var(--text-sm);
    --x-title-line-height: calc(1em + 0.25rem);
  }
}

@utility lg {
  .x-title:is(&) {
    --x-heading-font-size: var(--text-3xl);
  }
}
